body, html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: #dddddd;
}

table {
	margin-left: auto;
	margin-right: auto;
}
/*wxc*/
boldText {
	font-weight: bold;
}
/*wxc*/
redText {
	color: red;
}
/*wxc*/
greenText {
	color: green;
}
a.normalTextLink {
	color: inherit;
	/*text-decoration: inherit;*/
	text-decoration: none;
}
.center {
    text-align: center;
}
.linkButton {
	background: none;
	color: blue;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	display: inline;
}
.pointerCursor {
	cursor: pointer;
}
.em1-5Text {
	font-size: 1.5em;
}
.emDot75Text {
	font-size: .9em;
}
.emDot5Text {
	font-size: .75em;
}
.img-valign {
	vertical-align: middle;
}
.remove_non_mesh_station_form {
	/*not the droid your looking for*/
}
#admin_wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#admin_main_link a {
	
}
#admin_header {
	position: relative;
	height: 110px;
	width: 100%;
	/*testing*/
	/*background-color: aqua;*/
	background-color: grey;
}
#admin_content {
	/*height: 85%;*/
	height: 90%;
	width: 100%;
	float: left;
	overflow: auto;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	/*testing*/
	/*background-color: azure;*/
	background-color: #dddddd;
}
#footer {
	height: 5%;
	width: 100%;
	clear: both;
	/*testing*/
	/*background-color: green;*/
	background-color: #dddddd;
}
.admin_nav_links {
	position: absolute;
	left: 0;
	bottom: 0;
}

.admin_nav_links a {
    float: left;
    display: block;
    color: inherit;
    background-color: darkgrey;
    text-align: left;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 1em;
	outline: 0;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 1px solid black;
	border-bottom: 0;
}
.admin_nav_links a:hover {
	/*background-color: #ddd;*/
	background-color: #dddddd;
	color: inherit;	
}
.admin_link_non_active_tab {
    float: left;
    display: block;
    color: inherit;
    background-color: darkgrey;
    text-align: left;
    padding: 2px 5px;
    text-decoration: none;
	outline: 0;
    font-size: 1em;
	/* Only round the top corners */
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: 1px solid black;
	border-bottom: 0;
}
/*
.admin_link_non_active_tab a:hover {
	background-color: #dddddd;
	color: inherit;	
}
*/
/*
.admin_nav_links a:focus {
	background-color: #dddddd;
	color: inherit;
}
*/
.admin_link_active_tab {
	background-color: #dddddd;
	border-bottom: none;
	color: inherit;
}
#admin_status {
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	font-size: .75em;
}
#admin_sql_status_table {
	border: 0;
	background-color: grey;
}
td.admin_sql_status_table_background {
	border: 0;
	/*border: 1px solid black;*/
	background-color: grey;
}
th.admin_sql_status_table_background {
	border: 0;
	/*border: 1px solid black;*/
	background-color: grey;
	text-align: left;
}
/*
#admin_addNonMesh {
}
*/
alignBottom {
	display: inline-block;
	vertical-align: bottom;
}
/*
* Tables
*/
tr:nth-child(even) {
	background-color: #c0c0c0;
}

/*wxc*/
tr:nth-child(odd) {
	background-color: #d0d0d0;
}
td.BackgroundColor {
	/*background-color: #dddddd;*/
	background-color: inherit;
	
}
