.leaflet-verticalcenter {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	top: 35%;
	transform: translateY(-50%);
	padding-top: 10px;
}
.leaflet-verticalcenter .leaflet-control {
	margin-bottom: 10px;
}
.leaflet-control-custom{
    cursor: pointer !important;
}